@import "tailwindcss";

@theme {
  --color-primary: #62bfae;

  --breakpoint-*: initial;
  --breakpoint-xxs: 320px;
  --breakpoint-xs: 380px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-md830: 830px;
  --breakpoint-lg: 1024px;
}

@layer utilities {
  .menu-div {
    @apply flex justify-start items-center p-4 hover:bg-gray-200 cursor-pointer;
  }
  .menu-p {
    @apply font-medium text-xl ml-2;
  }
  .homecard {
    @apply relative h-50 w-[90vw] sm:w-[80vw] md830:w-xl lg:w-sm overflow-hidden mx-4 bg-white shadow-lg inset-shadow-sm/50 rounded-tr-2xl rounded-bl-4xl sm:h-64 transition-transform duration-300 ease-in-out cursor-pointer hover:scale-[1.02];
  }
  .homecard-title {
    @apply text-xl sm:text-2xl font-bold;
  }
  .doctor-card {
    @apply flex-1 min-w-2xs xs:min-w-sm xs:max-w-xl sm:h-70 bg-white shadow-md rounded-2xl p-5 flex flex-col justify-start gap-4 border border-gray-200 hover:shadow-xl transition-shadow duration-300;
  }
  .wave {
    @apply h-1/2 hidden absolute bottom-0 left-0 w-full z-0 xxs:block transform xxs:translate-y-2 xs:translate-y-0;
  }
  .specialization {
    @apply flex flex-col items-center bg-white rounded-2xl shadow-md py-6 hover:scale-102 hover:shadow-xl cursor-pointer transition-transform;
  }
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes emphasis {
  0%, 100% {
    transform: scale(1.02) rotateX(0deg) rotateY(0deg);
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
  }
  50% {
    transform: scale(1.05) rotateX(-6deg) rotateY(-10deg) translateX(-2vw);
    box-shadow: 0 8px 20px rgba(0,0,0,0.35);
  }
}
  .fade-in-up {
    animation: fadeInUp 1s ease-out forwards;
  }
  .emphasis {
    animation: emphasis 8s ease-in-out infinite;
    will-change: transform;
  }
  @keyframes appear {
    from {
      opacity: 0;
      transform: translate(50px, 50px);
    }
    to {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  .trigger {
    animation-name: appear;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: lightblue;
  }

  body ::selection {
    background-color: lightcyan;
  }
}
